@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    /* border: 1px red solid; */
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.wrapper {
    display: flex;
    position: relative;
}

/* Sidebar */
 .custom-section .sidebar {
    display: block;
    position: fixed;
    padding: 35px 0;
    width: 250px;
    height: 100%;
    /* background-color: #1E4233; */
    background-image: linear-gradient(#1E4233, black);
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}


.sidebar .columbarium-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.sidebar .columbarium-address {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 35px;
}

.custom-section .menu__box {
    border-bottom: 1px solid rgba (0, 0, 0, 0.05);
    border-top: 1px solid rgba (225, 225, 225, 0.05);
}

.custom-section .menu__item {
    display: flex;
    padding: 9px 18px;
    color: white;
    font-size: 15px;
    transition-duration: .25s;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1); 
}

.bx-menu, .bx-user-plus, .bx-map, .bx-folder, .bx-spreadsheet, .bx-user-circle, .bx-log-out {
    margin-right: 15px;
    font-size: 22px;
    color: white;
}

.custom-section .sidebar .menu__box .menu__item:hover {
    background-color: #13934a;
    font-size: 16px;
    font-weight: bold;
}

.custom-section .sidebar .menu__box .menu__item.view-records {
    background-image: linear-gradient(#0A633C, #004529);
    font-weight: bold;
    cursor: default; /* Remove the hand cursor on hover */
    pointer-events: none; /* Disable pointer events */
}

.custom-section .sidebar .menu__box .menu__item.add-deceased:hover, 
.custom-section .sidebar .menu__box .menu__item.view-map:hover, 
.custom-section .sidebar .menu__box .menu__item.dashboard:hover, 
.custom-section .sidebar .menu__box .menu__item.generate-reports:hover, 
.custom-section .sidebar .menu__box .menu__item.manage-users:hover,
.menu__item.log-out:hover {
    background-color: #13934a;
    font-size: 16px;
    font-weight: bold;
}

.custom-section .sidebar img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 4px solid #998938;
}

.custom-section .watermark {
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
}
/* End of Sidebar */

/* Main Content */
.main-content {
    height: 600px;
    width: 81.5vw;
    margin-left: 250px;
    font-size: 14px;
    background-color: #E8E8E8;
}

    /* Header */

    .cmis-header {
        position: fixed;
        /* background: #0A633C; */
        background-image: linear-gradient(#0A633C, #004529);
        padding: 15px 30px;
        align-items: center;
        justify-content: space-between;
        width: 81.5vw;
        display: flex; 
    }
    .cmis-name {
        color: #FAF9F6;
        font-size: 16px;
        font-weight: 600; 
    }

    .user-profile {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: right;
        position: sticky;
        width: 330px;
    }

    .user-profile p{
        color: #FAF9F6;
        font-size: 16px;
        margin: 0px 16px 0px 0px;
    }

    .user-profile img {
        width: 50px;
        min-height: auto;
        min-width: 10px;
        height: 50px;
        border-radius: 50px;
    }

    /* Web Page Title */
    .main-content .webpage-title {
        color: black;
        width: 100%;
        height: 60px;
        margin-top: 50px;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        padding: 50px;
        background-color: #E8E8E8;
    }

    .main-content .container {
        /* height: 200vh; */
        height: auto;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: #E8E8E8;
        margin-bottom: 25px;
        /* border: 1px solid black; */
    }

    .content-box { 
        max-width: 965px; 
        width: 100%;
        padding: 30px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3); 
        margin-bottom: 25px;
    }

     /* Records Table */
     .bootstrap {
        font-size: 15.5px;
     }

     .map-title {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        margin-left: 343px;
    }

    .map-detail {
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 6px;
        margin-left: 345px;
    }

    .map-header-with-bck {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-bottom: 17px;
    }

    .bx-arrow-back {
        font-size: 28px;
        color: white;
        padding: 5px;
        background-image: linear-gradient(#13934a, #1AA65F);
        border-radius: 5px;
     }

    .table .table-striped{
        position: relative;
        
    }


    th {
        text-align: center;
        background-image: linear-gradient(#0A633C, #004529);
        color: white;
        font-size: 13px;
        top: 0;
        padding: 2px;
    }

    .niche-header-ID {
        width: 6%;

    }

    .niche-header-name {
        width: 14%;

    }

    .niche-header-birth {
        width: 11%;

    }

    .niche-header-death {
        width: 12%;
    }

    .niche-header-age {
        width: 5%;
 
    }

    .niche-header-contact {
        width: 13%;
       
    }

    .niche-header-mobile {
        width: 10%;
      
    }

    .niche-header-action {
        width: 9%;
     
    }

    td {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .niche-records,
    th,
    td {
       border: 1px solid black;
    }

    .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .action-wrapper button{
        border: none;
    }

    .bx-edit {
        margin-right: 4px;
    }

    .bx-edit, .bx-trash {
        padding: 6px;
        border-radius: 7px;
        background-image: linear-gradient(#13934a, #1AA65F);
        color: white;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2); 
        font-size: 17px;
        border: none;
        cursor: pointer;
    }
    .bootstrap .page-item.active .page-link {
        z-index: 2;
        color: #fff;
        background-image: linear-gradient(#13934a, #1AA65F);
        border-color: #1AA65F;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .dataTables_filter {
        width: 250px;
        justify-content: end;
    }

    .dataTables_length {
        width: 500px;
    }

    .col-sm-12.col-md-7 {
      
        width: 55%;
        
    }


    .pagination {
        display: flex;
        justify-content: end;
    }

    .row.dt-row {
        display: block;
        width: 105%;
    }

    .odd {
        background-color: #E5E4E2 !important;
    }
    
    .page-link {
        padding: 3px;
        border: 0.5px solid #899499;
        border-radius: 3px;
        justify-content: space-around;
        background-color: #F9F6EE;
        margin: 3px;
    }

    .form-control.form-control-sm {
        margin-left: 10px;
        border-radius: 5px;
        border: 1.5px solid gray;
    }

    .form-control.form-control-sm:focus {
        outline-color:#13934a;

    }

    .dataTables_filter label {
        margin-left: 9px;
    }
  

  

