@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    /* border: 1px red solid; */
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
}

/* Sidebar */
.sidebar {
    display: block;
    position: fixed;
    padding: 35px 0;
    width: 250px;
    height: 100%;
    /* background-color: #1E4233; */
    background-image: linear-gradient(#1E4233, black);
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}


.columbarium-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.columbarium-address {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 35px;
}

.menu__box {
    border-bottom: 1px solid rgba (0, 0, 0, 0.05);
    border-top: 1px solid rgba (225, 225, 225, 0.05);
}

.menu__item {
    display: flex;
    padding: 9px 18px;
    color: white;
    font-size: 15px;
    transition-duration: .25s;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1); 
}

.bx {
    margin-right: 15px;
    font-size: 22px;
    color: white;
}

.menu__item:hover {
    background-color: #13934a;
    font-size: 16px;
    font-weight: bold;
}

.menu__item.view-records {
    background-image: linear-gradient(#0A633C, #004529);
    font-weight: bold;
    cursor: default; /* Remove the hand cursor on hover */
    pointer-events: none; /* Disable pointer events */
}

.menu__item.add-deceased:hover, 
.menu__item.view-map:hover, 
.menu__item.dashboard:hover, 
.menu__item.generate-reports:hover, 
.menu__item.manage-users:hover,
.menu__item.log-out:hover {
    background-color: #13934a;
    font-size: 16px;
    font-weight: bold;
}

.sidebar img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 4px solid #998938;
}

.watermark {
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
}
/* End of Sidebar */

/* Main Content */
.main-content {
    width: 81.5vw;
    margin-left: 250px;
}

    /* Header */

    .cmis-header {
        position: fixed;
        /* background: #0A633C; */
        background-image: linear-gradient(#0A633C, #004529);
        padding: 15px 30px;
        align-items: center;
        justify-content: space-between;
        width: 81.5vw;
        display: flex;  
    }

    .cmis-name {
        color: #FAF9F6;
        font-size: 16px;
        font-weight: 600; 
    }

    .user-profile {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: right;
        position: sticky;
        width: 330px;
    }

    .user-profile p{
        color: #FAF9F6;
        font-size: 16px;
        margin: 0px 16px 0px 0px;
    }

    .user-profile img {
        width: 50px;
        min-height: auto;
        min-width: 10px;
        height: 50px;
        border-radius: 50px;
    }

    /* Web Page Title */
    .webpage-title {
        color: black;
        width: 100%;
        height: 60px;
        margin-top: 50px;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        padding: 50px;
        background-color: #E8E8E8;
    }

    .container {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: #E8E8E8;
        /* border: 1px solid black; */
    }

    .content-box { 
        max-width: 965px; 
        width: 100%;
        padding: 30px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3); 
    }

     /* Records Options */
    .content-wrapper {
        background-image: linear-gradient(#ededed, #bdbdbd);
        border-radius: 8px;
        padding: 15px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3); 
    }

    .row-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .row-two {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    img {
        border-radius: 9px;
        width: 140px;
        height: 120px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    }

    a {
        display: flex;
    }

    /* Row One */
    .st-john {
        transition: 0.3s;
    }

        .st-john:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-james {
        transition: 0.3s;
    }

        .st-james:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-andrew {
        transition: 0.3s;
        display: flex;
    }

        .st-andrew:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-peter {
        transition: 0.3s;
    }

        .st-peter:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-philip {
        transition: 0.3s;
    }

        .st-philip:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-bartholomew {
        transition: 0.3s;
    }

        .st-bartholomew:hover {
            transform:scale(1.1);
            z-index:2;
        }

     /* Row Two */
     .st-thomas {
        transition: 0.3s;
    }

        .st-thomas:hover {
            transform:scale(1.1);
            z-index:2;
        }
    .st-matthew {
        transition: 0.3s;
    }

        .st-matthew:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-james-alphaeus {
        transition: 0.3s;
    }

        .st-james-alphaeus:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-thaddaeus {
        transition: 0.3s;
    }

        .st-thaddaeus:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .st-simon{
        transition: 0.3s;
    }

        .st-simon:hover {
            transform:scale(1.1);
            z-index:2;
        }

    .view-records-label {
        text-align: center;
        margin-bottom: 18px;
        font-size: 19px;
        font-weight: 100;
    }

